@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

@import url("./reset.css");
@import url("./login.css");
@import url("./lobby.css");
@import url("./register.css");
@import url("./keyframes.css");
@import url("./explorerSelect.css");

.centered-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  width: 600px;
  border-radius: 15px;
}

.main h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #fff;
  font-size: 80px;
  text-shadow: rgb(255, 0, 0) 0px 0px 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  animation: text-flicker 3s linear infinite;
}

.main h1 span.span {
  animation: letter-flicker 2s linear infinite;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: blur(8px);
}
.latin-text {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.cyrillic-text {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.input-container {
  position: relative;
  top: 10px;
}
